services:
  locus-api:
    image: locus-dev-registry.kr.ncr.ntruss.com/locus-api:latest
    container_name: locus-api
    ports:
      - "3000:3000"
    env_file:
      - .env.prod
    restart: always

  locus-nginx:
    image: locus-dev-registry.kr.ncr.ntruss.com/locus-nginx:latest
    container_name: locus-nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - locus-api
    restart: always