services:
  locus-api:
    image: ${PROD_REGISTRY}/locus-api:latest
    container_name: locus-api
    ports:
      - '3000:3000'
    env_file:
      - .env.prod
    environment:
      - REDIS_HOST=10.1.2.7 # 서버 3 사설 IP
      - RABBITMQ_HOST=10.1.2.7 # 서버 3 사설 IP
      - ELASTICSEARCH_NODE=http://10.1.2.6:9200 # 서버 2 사설 IP
    restart: always

  locus-nginx:
    image: ${PROD_REGISTRY}/locus-nginx:latest
    container_name: locus-nginx
    ports:
      - '80:80'
      - '443:443'
    depends_on:
      - locus-api
    restart: always
