name: CD - Deploy to NCP

on:
  workflow_run:
    workflows: ["CI - Build and Push"]
    types:
      - completed

jobs:
  deploy:
    if: |
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.event != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.DEV_HOST }}
          username: ${{ secrets.DEV_USERNAME }}
          password: ${{ secrets.DEV_PASSWORD }}
          script: |
            cd ~/projects/web06-locus
            git fetch origin develop
            git checkout -f develop
            git pull origin develop
            
            echo "${{ secrets.DEV_ENV_PROD }}" > .env.prod
            
            docker login ${{ secrets.DEV_REGISTRY }} -u ${{ secrets.NCP_ACCESS_KEY }} -p ${{ secrets.NCP_SECRET_KEY }}
            docker compose pull
            docker compose up -d
            
            docker image prune -f
            docker compose exec -T locus-api pnpm --filter @locus/api run db:push