name: CI - Build and Push

on:
  pull_request:
    branches: [ develop ]

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Turbo Cache
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: Create temporary .env for testing
        run: echo "${{ secrets.DEV_ENV_PROD }}" > .env

      - name: Install dependencies
        run: HUSKY=0 pnpm install --frozen-lockfile

      - name: Generate Prisma Client
        run: pnpm --filter @locus/api exec prisma generate

      - name: Build & Test (Turbo)
        run: pnpm turbo run build test lint --cache-dir=".turbo"