name: CI - Build and Push

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Turbo Cache
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: Create temporary .env for testing
        run: echo "${{ secrets.DEV_ENV_PROD }}" > .env

      - name: Install dependencies
        run: HUSKY=0 pnpm install --frozen-lockfile

      - name: Generate Prisma Client
        run: pnpm --filter @locus/api exec prisma generate

      - name: Build & Test (Turbo)
        run: pnpm turbo run build test lint --cache-dir=".turbo"
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to NCR
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.DEV_REGISTRY }}
          username: ${{ secrets.NCP_ACCESS_KEY }}
          password: ${{ secrets.NCP_SECRET_KEY }}

      - name: Build and Push API Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./apps/api/Dockerfile
          push: true
          tags: |
            ${{ secrets.DEV_REGISTRY }}/locus-api:latest
            ${{ secrets.DEV_REGISTRY }}/locus-api:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and Push Nginx Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./nginx/Dockerfile
          push: true
          tags: |
            ${{ secrets.DEV_REGISTRY }}/locus-nginx:latest
            ${{ secrets.DEV_REGISTRY }}/locus-nginx:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max