name: Optimized CI/CD to NCP (Dev)

on:
  push:
    branches: [ develop ]

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          cache: true
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Turbo Cache
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: Create temporary .env for testing
        run: echo "${{ secrets.DEV_ENV_PROD }}" > .env

      - name: Install dependencies
        run: HUSKY=0 pnpm install --frozen-lockfile

      - name: Build & Test (Turbo)
        run: pnpm turbo run build test lint --cache-dir=".turbo"

      - name: Login to NCR
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.DEV_REGISTRY }}
          username: ${{ secrets.NCP_ACCESS_KEY }}
          password: ${{ secrets.NCP_SECRET_KEY }}

      - name: Build and Push API Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./apps/api/Dockerfile
          push: true
          tags: |
            ${{ secrets.DEV_REGISTRY }}/locus-api:latest
            ${{ secrets.DEV_REGISTRY }}/locus-api:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and Push Nginx Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./nginx/Dockerfile
          push: true
          tags: |
            ${{ secrets.DEV_REGISTRY }}/locus-nginx:latest
            ${{ secrets.DEV_REGISTRY }}/locus-nginx:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    needs: test-and-build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.DEV_HOST }}
          username: ${{ secrets.DEV_USERNAME }}
          password: ${{ secrets.DEV_PASSWORD }}
          script: |
            cd ~/projects/web06-locus
            git fetch origin develop
            git checkout -f develop
            git pull origin develop
            
            echo "${{ secrets.DEV_ENV_PROD }}" > .env.prod
            
            docker login ${{ secrets.DEV_REGISTRY }} -u ${{ secrets.NCP_ACCESS_KEY }} -p ${{ secrets.NCP_SECRET_KEY }}
            docker compose pull
            docker compose up -d
            
            docker image prune -f
            docker compose exec -T locus-api pnpm --filter @locus/api run db:push